<h1>Showing Article by id</h1>

<p>Tile: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>
<%= link_to "Edit article", edit_article_path(@article)%> |
<%= link_to "Exit", articles_path%>